/*
1. Header
2. Banner
3. Navbar

*/

* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}
a,
a:hover {
    text-decoration: none;
}
p {
    margin: 0;
    padding: 0;
    line-height: 24px;
    font-weight: 400;
    font-size: 13px;
}
ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    color: #000000;

}
.ptb_75 {
    padding: 75px 0;
}
.ptb_145 {
    padding: 145px 0;
}
/* Common section strat */
.section_heading h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
}

/* Common section end */

body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

/* Navbar area start  */
#nav {
    padding: 22px 0;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    width: 100%;
}
#nav .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    margin-left: 32px;
    color: #000000;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
}
/* stiky menu  starts */
.stikyadded {
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.050980392156862744);
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 9999;
    background: #ffffff !important;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}
/* stiky menu  ends */

/* Navbar area end  */
/* Banner area start  */

/* .bnr_content {
    width: 100%;
    padding: 0 15px;
} */
#header {
    background-image: url("../image/banner.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
#header .navbar-toggler {
    position: relative;
    top: 35px;
}
#header .navbar-toggler i {
    color: #fff;
    margin-top: 0;
    font-size: 30px;
}
.banner_overlay {
    padding: 316px 0 318px;
    background: rgb(0 ,0 ,0,73%);
}
.bnr_content{
    overflow: hidden;
}
.bnr_content h1 {
    font-size: 69px;
    color: #31d7ce;
    text-transform: uppercase;
    letter-spacing: 15px;
    font-weight: 700;
    margin-bottom: 30px;
}

a.banner_btn {
    color: #31d7ce;
    padding: 18px 36px;
    display: inline-block;
    border: 2px solid #d1d1d1;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.5s;
}
.bnr_content a:hover {
    background: #0771b9;
    color: #ffffff;
}
/* Banner area end  */
/* we are area start  */
.we_are_content h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 12px;
}
.we_are_content p {
    font-size: 15px;
    font-family: 'Open Sans';
    color: #2f2f2f;
    font-weight: 400;
    margin-bottom: 33px;
}
.we_are_content a {
    font-size: 12px;
    font-family: 'Open Sans';
    color: #ffffff;
    font-weight: 400;
    padding: 10px 23px;
    background: #0cac88;
    text-transform: inherit;
    border-radius: 30px;
    display: inline-block;
}
/* we are area ends  */
/* Services area start  */
.services_items {
    display: flex;
    padding: 45px 33px 40px 32px;
    transition: all 0.5s ease-in-out;
}
.services_items:nth-child(2) {
    background: maroon;
}
.services_items:hover {
    box-shadow: 0 0 9px 0 rgb(49,215,205,67%);
}

.ser_icon {
    padding: 20px;
    width: 70px;
    height: 70px;
    background: #23ddb3;
    border-radius: 8px;
    margin-right: 24px;
}
.ser_content h5 {
    font-size: 16px;
    font-family: 'Open Sans';
    color: #444444;
    font-weight: 600;
    margin-bottom: 20px;
}
.ser_content p {
    font-size: 14px;
    font-family: 'Open Sans';
    color: #555555;
    font-weight: 400;
}
/* Services area end  */
/* Protfolio area start  */
#works .section_heading h2 {
    margin-bottom: 60px;
}
.works_items {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
}

.works_dateils {
    text-align: center;
    color: #ffffff;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    overflow: hidden;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}
.works_dateils h5 {
    font-size: 19px;
    color: #fff;
}

.works_items:hover .works_dateils {
    top: 50%;
    transform: translate(0, -50%);
    opacity: 1;
}

.works_thum:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    transition: all 0.27s cubic-bezier(0.3, 0.1, 0.58, 1);
}

.works_items:hover .works_thum:after {
    background: rgba(0, 0, 0, 0.8);
}

.works_thum img {
    transition: all 0.3s cubic-bezier(0.3, 0.1, 0.58, 1);
    width: 100%;
}

.works_items:hover .works_thum img {
    transform: scale(1.05);
    width: 100%;
}

/* works area end  */
/* counter area start  */
#counter {
    background-image: url("../image/counter_bg.jpg");
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.counter_number span {
    font-size: 30px;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    display: inline-block;
}
.counter_number p {
    font-size: 15px;
    color: #d4d4d4;
    font-weight: 500;
}
/* blog area starts  */
.blog_post {
    overflow: hidden;
}
.blog_post img {
    width: 100%;
}
.blog_post_content {
    padding: 20px 20px 20px 0;
}
.blog_post_content h4 {
    font-size: 18px;
    color: #333333;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.blog_post_content p {
    font-size: 13px;
    color: #555555;
    font-weight: 500;
    margin-bottom: 20px;
}
.blog_post_content a {
    font-size: 13px;
    color: #555555;
    font-weight: 600;
    text-transform: uppercase;
}
/* blog area ends  */
#with_us {
    padding: 65px 0;
    background: #4fd18d;
}
.with_us_area h3 {
    font-size: 25px;
    color: #ffffff;
    font-weight: 500;
    text-transform: capitalize;
}
.with_us_area a {
    border: 0;
    font-size: 13px;
    font-family: 'Open Sans';
    color: #ffffff;
    font-weight: 600;
    padding: 16px 28px;
    display: inline-block;
    margin-left: 17px;
    background: #4ae694;
    width: max-content;
}
/* Footer area start  */
#footer {
    padding: 110px 0 20px;
    background: #000415;
}
.address_datails ul li {
    font-size: 14px;
    font-family: 'Open Sans';
    color: #ffffff;
    font-weight: 400;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
}
.address_datails ul li i {
    color: #fff;
    margin-right: 20px;
    font-size: 20px;
}
.footer_content p {
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    margin-top: 10px;
}
.copy_right {
    font-size: 15px;
    font-family: 'Open Sans';
    color: #818181;
    font-weight: 400;
}
.footer_content {
    position: relative;
}

.footer_content::after {
    content: "";
    width: 1px;
    height: 166px;
    background: #393838;
    position: absolute;
    right: -84px;
    top: -50px;
}

/* Footer area end  */

/* Responsive  */

@media (max-width: 991.98px) { 
    #nav #navbarSupportedContent {
        margin-top: 35px;
        text-align: center;
    }
    #nav li.nav-item {
        margin-bottom: 15px;
    }
    #nav .navbar-expand-lg .navbar-nav .nav-link {
        margin-left: 0;
    }
    .banner_overlay {
        padding: 160px 0 170px;
    }
    .bnr_content h1 {
        font-size: 42px;
    }  
    .blog_post_content h4 {
        line-height: 30px;
    }
    .footer_content::after {
        right: 24px;
    }      
}
@media (max-width: 767.98px) { 
    .banner_overlay {
        padding: 120px 0 130px;
    } 
    .we_are_content {
        margin-top: 25px;
    }  
    #works .col-md-6{
        width: 50%;
    }  
    #counter .col-sm-4{
        width: 33.33%;
    }
    #blog .col-md-4{
        width: 50%;
    }
    .blog_post {
        margin-bottom: 30px;
    } 
    #footer .col-sm-6{
        width: 50%;
    }  
    .footer_content::after {
        right: -7px;
    }    
    .address_datails ul li {
        font-size: 13px;
    }    
}

@media (max-width: 320px) { 
    .bnr_content h1 {
        font-size: 30px;
    }
    #works .col-md-6,#counter .col-sm-4,#blog .col-md-4,#footer .col-sm-6{
        width: 100%;
    }
    .services_items {
        margin-bottom: 30px;
    }    
    .counter_items{
        margin-bottom: 30px;
    }
    .with_us_area h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }    
    .with_us_area.d-flex.align-items-center {
        flex-direction: column;
    }  
    .footer_content {
        margin-bottom: 30px;
        text-align: center;
    }  
    .footer_content::after {
       display: none;
    } 
    .address_datails ul li {
        justify-content: center;
    }
    .address_datails .sm_custom i {
        position: relative;
        left: -6px;
        margin-left: -23px;
    }
}

